window {
    opacity: 0.9;
    color: #fbf1c7;
}

#entry:selected {
    background-color: #98971a
}
#input {
    /* margin: 5px; */
    /* border: 2px solid blue; */
    background-color: #282828;
    color: #fbf1c7;
}

/* #inner-box { */
/*     margin: 5px; */
/*     border: 2px solid yellow; */
/*     background-color: yellow; */
/* } */

#outer-box {
    /* margin: 5px; */
    /* border: 2px solid green; */
    background-color: #282828;
}

/* #scroll { */
/*     margin: 5px; */
/*     border: 2px solid orange; */
/*     background-color: orange; */
/* } */

/* #text { */
/*     margin: 5px; */
/*     border: 2px solid cyan; */
/*     background-color: cyan; */
/* } */
