env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = WLR_NO_HARDWARE_CURSORS,1

monitor = DP-1,preferred,0x0,1

monitor = HDMI-A-1,preferred,1720x0,1
# monitor = HDMI-A-1,transform,3

# exec-once = ironbar

#workspace=1, monitor:DP-1
#workspace=2, monitor:DP-1
#workspace=3, monitor:DP-1
#workspace=4, monitor:DP-1
#workspace=7, monitor:HDMI-A-1
#workspace=8, monitor:HDMI-A-1
#workspace=9, monitor:HDMI-A-1

bind= SUPER CTRL SHIFT, 1, movecurrentworkspacetomonitor, DP-1
bind= SUPER CTRL SHIFT, 2, movecurrentworkspacetomonitor, HDMI-A-1

# Execute your favorite apps at launch
exec-once = bash ~/.config/hypr/start-desktop.sh
