#window {
  background-color: rgba(0, 0, 0, 0);
  font-size: 12pt;
}

box#main {
  border-radius: 10px;
  background-color: rgba(46, 46, 46, 0.95);
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
}

label#match-desc {
  font-size: 10px;
}

label#plugin {
  font-size: 14px;
}
